- title "#{@region.name} | #{@area.name} | #{@schedule.name}"

= render partial: 'layouts/loadshedding_warning', locals: {region: @region}

.page-header
  %h1
    = link_to @region.name, show_region_path(@region)
    |
    = link_to @area.name, show_area_path(@area)
    |
    = @schedule.name
    %small
      - if @region.active_schedule_id == @schedule.id
        (Active!)
      - else
        (Not Active)
  - unless @area.long_name.blank?
    %h3= @area.long_name

.row
  .col-md-8.col-md-offset-2.text-center

    %h3 Load Shedding Time Table

    %table.table.table-bordered.text-left
      %thead
        %tr
          %th.thin Day
          %th Times
      %tbody
        %tr.active{class: ('table-row-emph' if is_day('Sunday'))}
          %td.thin Sunday
          %td= simple_schedule_format(@area_schedule.sunday_outtages)
        %tr{class: ('table-row-emph' if is_day('Monday'))}
          %td.thin Monday
          %td= simple_schedule_format(@area_schedule.monday_outtages)
        %tr{class: ('table-row-emph' if is_day('Tuesday'))}
          %td.thin Tuesday
          %td= simple_schedule_format(@area_schedule.tuesday_outtages)
        %tr{class: ('table-row-emph' if is_day('Wednesday'))}
          %td.thin Wednesday
          %td= simple_schedule_format(@area_schedule.wednesday_outtages)
        %tr{class: ('table-row-emph' if is_day('Thursday'))}
          %td.thin Thursday
          %td= simple_schedule_format(@area_schedule.thursday_outtages)
        %tr{class: ('table-row-emph' if is_day('Friday'))}
          %td.thin Friday
          %td= simple_schedule_format(@area_schedule.friday_outtages)
        %tr.active{class: ('table-row-emph' if is_day('Saturday'))}
          %td.thin Saturday
          %td= simple_schedule_format(@area_schedule.saturday_outtages)
