- title "#{@region.name} | #{@area.name} | #{@schedule.name}"

= render partial: 'layouts/loadshedding_warning', locals: {region: @region}

.page-header
  %h1
    = link_to @region.name, show_region_path(@region)
    |
    = link_to @area.name, show_area_path(@area)
    |
    = @schedule.name
  - unless @area.long_name.blank?
    %h3= @area.long_name

%h3 Load Shedding Time Table

%table.table.table-bordered
  %thead
    %tr
      %th Day
      %th Load shedding
  %tbody
    %tr{class: ('info' if is_day('Monday'))}
      %td Monday
      %td= simple_schedule_format(@area_schedule.monday_outtages)
    %tr{class: ('info' if is_day('Tuesday'))}
      %td Tuesday
      %td= simple_schedule_format(@area_schedule.tuesday_outtages)
    %tr{class: ('info' if is_day('Wednesday'))}
      %td Wednesday
      %td= simple_schedule_format(@area_schedule.wednesday_outtages)
    %tr{class: ('info' if is_day('Thursday'))}
      %td Thursday
      %td= simple_schedule_format(@area_schedule.thursday_outtages)
    %tr{class: ('info' if is_day('Friday'))}
      %td Friday
      %td= simple_schedule_format(@area_schedule.friday_outtages)
    %tr{class: ('info' if is_day('Saturday'))}
      %td Saturday
      %td= simple_schedule_format(@area_schedule.saturday_outtages)
    %tr{class: ('info' if is_day('Sunday'))}
      %td Sunday
      %td= simple_schedule_format(@area_schedule.sunday_outtages)
