- title "Loadshedding #{@area.name}"

.page-header
  %h1
    Schedules for
    = link_to @area.name, pick_date_path(area: @area.code)
    on
    = @date.strftime '%A %e %B'
    - if Date.today == @date
      = "(today)"

.row
  .col-sm-12
    = link_to show_path(area: @area, date: @date - 1), class: 'btn btn-secondary btn-sm pull-left' do
      %span.glyphicon.glyphicon-chevron-left
      = '  ' + (@date - 1).strftime('%e %B')
    = link_to show_path(area: @area, date: @date + 1), class: 'btn btn-secondary btn-sm pull-right' do
      = (@date + 1).strftime('%e %B') + ' '
      %span.glyphicon.glyphicon-chevron-right

.row
  .col-md-6.col-md-offset-3.text-center
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th.text-center
            Stage
          %th.text-center
            Outages
      %tbody
        - (1..4).each do |stage_num|
          - is_active = @current_stage == stage_num
          %tr{class: ('danger table-row-emph' if is_active)}
            %td.thin.text-bold
              = ApplicationController.convert_stage_code_to_name stage_num
              - if is_active
                (active)
            %td.text-left
              - unless @schedules[stage_num - 1].nil?
                = @schedules[stage_num - 1].outages
