- title "#{@region.name} | #{@area.name}"

= render partial: 'layouts/loadshedding_warning', locals: {region: @region}

.page-header
  %h1
    = link_to @region.name, show_region_path(@region)
    |
    = link_to @area.name, show_area_path(@area)
  - unless @area.long_name.blank?
    %h3= @area.long_name

.row
  .col-md-6.col-md-offset-3.text-center
    - if @schedules.empty?
      %h3 There are no load shedding schedules for this area
    - else
      %h3 Pick a load shedding schedule

      %table.table.table-bordered.table-striped.table-hover.text-left
        %thead
          %th Schedule
          %th Description
        %tbody
          - @schedules.each do |area_schedule|
            - is_active = (@region.active_schedule_id == area_schedule.schedule_id)
            %tr{class: ('table-row-emph' if is_active), data: {link: show_area_schedule_path(area_schedule)}}
              %td
                %a{href: show_area_schedule_path(area_schedule)}
                  = area_schedule.schedule.name
                  - if is_active
                    (Active)
              %td
                %a{href: show_area_schedule_path(area_schedule)}
                  = area_schedule.schedule.description
