- title 'Latest Updates'

.page-header
  %h1 Latest Updates

.row
  .col-md-8.col-md-offset-2
    %table.table.table-bordered.table-condensed
      %thead
        %tr
          %th Change Occurred
          %th Last Check
          %th Load Shedding
          %th Elapsed
          %th Stage
          %th Source
      %tbody
        - unless @latest_updates.empty?
          - @latest_updates.each do |update|
            %tr
              %td= update.created_at
              %td= update.updated_at
              %td= update.is_load_shedding_active ? 'Yes' : 'No'
              %td= time_ago_in_words(Time.now - (update.updated_at - update.created_at))
              %td= update.stage or '-'
              %td= update.source or '-'
        - else
          %tr
            %td.text-center{colspan: 7}
              %h5 No Updates have been performed yet :(
