- title @region.name

= render partial: 'layouts/loadshedding_warning', locals: {region: @region}

.page-header
  %h1= @region.name

.row
  .col-md-8.col-md-offset-2.text-center
    %h4 Select your area from the table below:
    %table.table.table-bordered.table-striped.table-hover.table-condensed.text-left
      %thead
        %tr
          %th Area Name
          %th Approximate Locations
      %tbody
        - unless @areas.empty?
          - @areas.each do |area|
            %tr{data: {link: show_area_path(area)}}
              %td
                = area.name
              %td
                - unless area.long_name.blank?
                  = text_truncate(area.long_name)
        - else
          %tr
            %td.text-center{colspan: 2}
              %h4 No Areas are supported in this region yet :(

    %h5
      Not sure which area you're in? Check
      = link_to 'the map provided by capetown.gov.za.', 'http://www.capetown.gov.za/en/electricity/Loadshedding%20Winter%202014/Loadshedding-10-Nov-2014_with_table.pdf'

