- last_update = Update.last
- unless last_update.nil?
  - unless last_update.stage.nil?
    .alert.alert-dismissable.alert-danger.text-center
      %h4 WARNING!
      According to
      = succeed ", Cape Town is experiencing" do
        - if last_update.source == 'eskom.co.za'
          = link_to 'Eskom', 'http://loadshedding.eskom.co.za'
        - else
          = link_to 'Cape Town Gov', 'http://www.capetown.gov.za/en/electricity/Pages/LoadShedding.aspx'
      %strong
        = ApplicationController.convert_stage_code_to_name(last_update.stage)
      = "load shedding."
      %br
      %small
        = "(Last checked: #{time_ago_in_words(last_update.updated_at)} ago)"
  - else
    .alert.alert-dismissable.alert-success.text-center
      %h4 GOOD NEWS!
      According to
      = succeed ", Cape Town IS NOT experiencing load shedding." do
        - if last_update.source == 'eskom.co.za'
          = link_to 'Eskom', 'http://loadshedding.eskom.co.za'
        - else
          = link_to 'Cape Town Gov', 'http://www.capetown.gov.za/en/electricity/Pages/LoadShedding.aspx'
      %br
      %small
        = "(Last checked: #{time_ago_in_words(last_update.updated_at)} ago)"
