!!!
%html
  %head
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1'}
    %title= "Where's the power?" + (content_for?(:title) ? " : #{yield :title}" : '')
    = stylesheet_link_tag :application, media: 'all'
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield(:head)
  %body
    #full-wrap
      = render 'layouts/navbar'

      .container
        = yield

    #footer
      .container{style: 'max-width: 700px'}
        %p.text-center
          %small
            This website is not affiliated with Eskom or any official entity in any way. All information shown is publicly accessible and accurate to the best of our knowledge. Use any data at your own risk, we take no responsibility for any inaccuracies or errors.
      }

    = javascript_include_tag 'bootstrap.min.js'
